.shtml-comp {
  /* -webkit-text-stroke: 0.04ex cyan */
  color:dodgerblue;
}
.shtml-var-comp {
  color:gray;
}
.shtml-def-comp {
  color: mediumvioletred;
}
.shtml-comp-hover {
  background-color:rgba(238, 255, 47, 0.702);
}
.shtml-comp-replaced {
  border:1px dotted red;
}