.flams-treeview-file-new {
  color: var(--colorPaletteYellowForeground1);
  ::after { content: ' (new)'; }
}
.flams-treeview-file-stale {
  color: var(--colorStatusWarningForeground3);
  ::after { content: ' (changed)'; }
}
.flams-treeview-file-deleted {
  color: var(--colorStatusDangerForeground1);
  text-decoration: line-through;
  ::after { content: ' (deleted)'; }
}
.flams-treeview-file-up-to-date {
  color: var(--colorStatusSuccessForeground1);
}

.flams-treeview-file-card {
  text-align: left;
}