Cargo.lock
**/target/**
**/node_modules/**
oxigraph
reedline-repl-rs
reedline
tracing-indicatif
/bin/**
/old/**
/settings.toml
/resources/migrations/users.sqlite
/resources/assets/shtml*
/.idea
/.vscode/launch.json
/source/shtml/viewer/ts
/source/shtml/viewer/pkg
/source/ts/**/pkg
/source/ts/**/dist
/source/ts/**/node_modules
/source/ts/**/*.vsix
/source/ts/**/package-lock.json
/source/ts/**/*.ignore
/source/ts/**/tsconfig.tsbuildinfo
source/ts/editor/old/**
/rustc-ice-*
.sqlx