Cargo.lock
**/target/**
**/node_modules/**
oxigraph
reedline-repl-rs
reedline
tracing-indicatif
/bin/**
/old/**
/settings.toml
/resources/migrations/users.sqlite
/resources/assets/shtml*
/.idea
/.sqlx
/.vscode/launch.json
/source/shtml/viewer/ts
/source/shtml/viewer/pkg
/source/vscode/**/pkg
/source/vscode/**/dist
/source/vscode/**/node_modules
/source/vscode/**/*.vsix
/source/vscode/**/package-lock.json
/source/vscode/**/*.ignore
/source/vscode/**/tsconfig.tsbuildinfo