/*
@import "./components/treeview";
@import "./components/loglist";
*/

.flams-main {
    height:calc(100vh - 67px);
    top:67px!important;
}

.flams-header {
    width:100vw;
    height: 67px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .thaw-grid-item {
      align-content: center;
    }
}

.flams-menu {
    border-right: var(--strokeWidthThickest) double var(--colorNeutralStroke1);
    min-width: 120px !important;
    width:120px;
    height: 100%;
}

.flams-menu-inner {
    width:120px;
}

body { margin: 0}

.flams-inline-badge {
    width:1em;
    height:1em;
    font-size: smaller;
}

.flams-user-menu-trigger{
    width:fit-content;
    margin-left:auto;
} 
.flams-user-menu {
    margin-left:-60px;
    width:160px;
}