.flams-log-list {
    width: fit-content;
}
.flams-log-elem {
    text-align: left;
}
.flams-log-elem details {
    display: inline-block;
}

.flams-log-error {
    color: var(--colorStatusDangerForeground1);
}
.flams-log-warn {
    color: var(--colorStatusWarningForeground3) ;
}
.flams-log-info {
    color: var(--colorPaletteYellowForeground1);
}
.flams-log-debug {
    color: var(--colorBrandForeground1);
}
.flams-log-trace {
    color: var(--colorNeutralStencil1);
}
.flams-spinner-inline {
    display:inline-block;
    vertical-align:middle;
    transform-origin: center;
    transform: scale(0.5);
}

.flams-log-frame {
    font-family: monospace;
    overflow-y: scroll;
    height: 68%;
    text-align: left;
    width: calc(100% - 10px);
    padding:5px;
    background-color: var(--colorNeutralBackground3);
    font-size: smaller;
}

.flams-warn-frame {
    font-family: monospace;
    overflow-y: scroll;
    margin-top: auto;
    height: calc(29% - 2px);
    border-top: 2px solid;
    padding:3px;
    text-align: left;
    width: calc(100% - 6px);
    background-color: var(--colorNeutralBackground6);
    font-size: smaller;
}