@import "./components/treeview";
@import "./components/loglist";
@import "./thaw/menu-group";
@import "./thaw/menu-item";
@import "./thaw/badge";
@import "./thaw/modal";
@import "./thaw/tabs";
@import "./thaw/drawer";
body {
	font-family: sans-serif;
	text-align: center;
	margin:0;
	height: 100vh;
}
.immt-main {
	margin:0;
	height:100vh;
	width: 100%;
}

.immt-menu {
	border-right: 3px double black;
	min-width: fit-content;
}