/*
@import "./thaw/icon";
@import "./thaw/menu-group";
@import "./thaw/menu-item";
@import "./thaw/modal";
@import "./thaw/tabs";
@import "./thaw/card";
@import "./thaw/popover";
@import "./thaw/theming";
*/
@import "./thaw/layout";
@import "./thaw/divider";
@import "./thaw/nav";
@import "./thaw/badge";
@import "./thaw/drawer";
@import "./thaw/button";
@import "./thaw/textarea";

@import "./components/treeview";
@import "./components/loglist";

.immt-main {
    height:calc(100vh - 67px);
    top:67px!important;
}

.immt-header {
    width:100vw;
    height: 67px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .thaw-grid-item {
      align-content: center;
    }
}

.immt-menu {
    border-right: var(--strokeWidthThickest) double var(--colorNeutralStroke1);
    min-width: fit-content;
    height: 100%;
}

.immt-menu-inner {
    width:120px;
}

body { margin: 0}

/*

body {
	font-family: sans-serif;
	margin:0;
	height: 100vh;
}
.immt-main {
	margin:0;
	height:100vh;
	width: 100%;
}


.immt-small-card > .thaw-card__header {
	padding: 10px;
}

.immt-small-card > .thaw-card__content {
	padding: 0 10px 10px;
}

.immt-small-card > .thaw-card__header + .thaw-card__content, .thaw-card__footer {
	padding: 0 10px 10px;
}
 */

.thaw-breadcrumb-button {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    text-decoration-line: none;
    vertical-align: middle;
    margin: 0px;
    overflow: hidden;
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    font-family: var(--fontFamilyBase);
    outline-style: none;
    border-radius: var(--borderRadiusMedium);
    font-size: var(--fontSizeBase300);
    line-height: var(--lineHeightBase300);
    transition-duration: var(--durationFaster);
    transition-property: background, border, color;
    transition-timing-function: var(--curveEasyEase);
    flex-wrap: nowrap;
    min-width: unset;
    height: 32px;
    color: var(--colorNeutralForeground2);
    background-color: var(--colorSubtleBackground);
    border-color: transparent;
    font-weight: var(--fontWeightRegular);
    padding: var(--spacingHorizontalSNudge);
}
.thaw-breadcrumb-button:hover {
    color: var(--colorNeutralForeground2Hover);
    background-color: var(--colorSubtleBackgroundHover);
    cursor: pointer;
}