.ftml-paragraph, .ftml-definition, .ftml-assertion, .ftml-example {
  & .ftml-title {
    display:inline-block;
    font-weight: bold;
    margin:0;
    font-size: inherit;
    &::before {
      content: var(--ftml-paragraph-str);
    }
    &::after {
      content: " ";
    }
  }
}
.ftml-paragraph {
  --ftml-paragraph-str: "";
}
.ftml-definition {
  & .ftml-title {
    --ftml-paragraph-str: "Definition ";
  }
}
.ftml-assertion {
  & .ftml-title {
    --ftml-paragraph-str: "Assertion ";
  }
}
.ftml-example {
  & .ftml-title {
    --ftml-paragraph-str: "Example ";
  }
}