.ftml-toc-visible,
.ftml-toc-invisible {
    transition:
        height 0.3s,
        max-height 0.3s ease-in;
    overflow: hidden;
    background-color: var(--colorNeutralBackground1);
}
.ftml-toc-visible {
    max-height: 100vh;
}
.ftml-toc-invisible {
    max-height: 0px;
}
.ftml-toc-sidebar {
    position: sticky;
    inset: 0;
    height: min-content;
    min-width: 195px;
}
